<div class="row mt-3">
    <div class="col">
        <div class="card border-0">
            <img src="https://img-c.udemycdn.com/notices/web_banner/image_udlite/83e8f763-8c2e-45a4-a4f7-f91fd48e500d.jpg" class="card-img">
            <div class="card-img-overlay m-5 p-4 bg-white" style="height: 274px;
            width: 440px;box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);">
                <h1 class="fw-bold">Courses as low as ₺36.99</h1>
                <p>For an extra 10% off sale prices, use PLUS10 in cart. Ends Aug. 26.</p>
                <input type="text" class="form-control" placeholder="What do you want to learn?">
            </div>
        </div>
    </div>
</div>